*.ORIG/
.tx/
*.bak/
*~/
*.bak
*~
debian/.debhelper/
debian/debhelper-build-stamp
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/user-installed-packages/
help/help/
help/help.html
mesonbuild/
